<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/Users/mrezasalehi/.virtualenvs/base/bin:/Users/mrezasalehi/.autojump/bin:/Library/Frameworks/Python.framework/Versions/3.7/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Applications/VMware Fusion.app/Contents/Public:/Library/TeX/texbin:/usr/local/go/bin:/usr/local/MacGPG2/bin:/opt/X11/bin:/Library/Apple/usr/bin:/Applications/Wireshark.app/Contents/MacOS</string>
    </dict>
    <key>Label</key>
    <string>email.assistant</string>
    <key>ProgramArguments</key>
    <array>
    <string>/Users/mrezasalehi/.virtualenvs/base/bin/python</string>
    <string>/Users/mrezasalehi/email-assistant/email_assistant.py</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>13</integer>
      </dict>
      <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>18</integer>
      </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/email.assistant.stdout</string>
    <key>StandardErrorPath</key>
    <string>tmp/email.assistant.stderr</string>
    <key>UserName</key>
    <string>mrezasalehi</string>
    <key>InitGroups</key>
    <true/>
  </dict>
</plist>